<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>F</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.fhelp.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisteServlet</display-name>
    <servlet-name>RegisteServlet</servlet-name>
    <servlet-class>com.fhelp.servlet.RegisteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisteServlet</servlet-name>
    <url-pattern>/RegisteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowTaskServlet</display-name>
    <servlet-name>ShowTaskServlet</servlet-name>
    <servlet-class>com.fhelp.servlet.ShowTaskServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowTaskServlet</servlet-name>
    <url-pattern>/ShowTaskServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendTaskServlet</display-name>
    <servlet-name>SendTaskServlet</servlet-name>
    <servlet-class>com.fhelp.servlet.SendTaskServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendTaskServlet</servlet-name>
    <url-pattern>/SendTaskServlet</url-pattern>
  </servlet-mapping>
</web-app>